*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: pink;
}

.body_calc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 30px;
    height: 400px;


}
#key_box{
    border-radius: 10px;
    position:sticky;
    top: 100%;
    display:grid;
}
table button{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: none;
    border-radius: 50%;
    margin: 5px;
    
}

table button:hover{
background-color: pink;
}
table{
    border: none;
}

#display{
    
    height: 30px;
    text-align:right;
    position: relative;
    font-size: 30px;
    font-family: sans-serif;
    
}
#display text{
    position: absolute;
    top: 20px;
}
.fun_but{
background-color: aqua;
color: white;
}

.fun_but:hover{
    background-color: blue;
}
.op_but{
    background-color: blue;
    color: white;
}

.op_but:hover{
    background-color: aqua;
}
tr{
    display: block;
}

.zero{
    width: 110px;
    border-radius: 30px;
}